

:root{

 /* COLOR - BLUE */
 --color-primary-100 : #E5F2FF;
 --color-primary-200 : #99CAFF; 
 --color-primary-300 : #66AFFF;
 --color-primary-400 : #007AFF;
 --color-primary-500 : #0863C6;
 --color-primary-600 : #004A97;
 --color-primary-700 : #002649;
        
 /* COLOR - NEUTRAL  */
 --color-neutral-100 : #E9EBEE;
 --color-neutral-200 : #A6AFBB; 
 --color-neutral-300 : #7A8898;
 --color-neutral-400 : #213854;
 --color-neutral-500 : #072448;
 --color-neutral-600 : #051932;
 --color-neutral-700 : #030E1D;

 /* COLOR - RED */
 --color-red-100 : #FDEBEC;
 --color-red-200 : #F7AFB5; 
 --color-red-300 : #F3878F;
 --color-red-400 : #EB3745;
 --color-red-500 : #D41927;
 --color-red-600 : #B10F1B;
 --color-red-700 : #8B1019;

 /* COLOR - YELLOW */
 --color-yellow-50 : #FEF1D9;
 --color-yellow-100 : #FDE4B3;
 --color-yellow-200 : #FCDB9A; 
 --color-yellow-300 : #F9C04F;
 --color-yellow-400 : #F7A503;
 --color-yellow-500 : #AD7302;
 --color-yellow-600 : #634201;

 /* COLOR - GREEN */
 --color-green-100 : #E7F5F0;
 --color-green-200 : #9DD6C3; 
 --color-green-300 : #54B897;
 --color-green-400 : #0B996A;
 --color-green-500 : #086B4A;
 --color-green-600 : #043D2A;
 --color-green-700 : #010F0B;

  /* TEXT COLORS */
  --color-text-title : var(var(--color-neutral-700));
  --color-text-primary: var(--color-neutral-500);
  --color-text-body: var(--color-neutral-400);
  --color-text-disabled : var(--color-neutral-200);

  /* FONT SIZES */
  --font-size-xs : 10px;
  --font-size-s : 12px;
  --font-size-xm : 14px;
  --font-size-m : 16px;
  --font-size-l : 18px;
  --font-size-xl : 22px;
  --font-size-heading1 : 32px;
  --font-size-heading2 : 24px;
}

   


*{
    font-family: 'Inter', sans-serif;
}

h1,body{
    font-family: 'Inter', sans-serif;
 
    color: var(--color-text-title);

}
p{
   
    color: var(--color-text-title);
}


.container{
    padding: 32px 32px;
    align-items: center;

}



button{
border-style: none;
overflow: hidden;
align-items: center;

/* base-blue */
color: #ffffff;
background: #007AFF;
border-radius: 4px;
cursor: pointer;
}

img{
    width: 72px;
    height: 72px;
}


a{
    color: white;
    text-decoration: none;


}

.child1{
   
    background: var(--color-primary-400);
    font-weight: 600;

   
}

.child1:hover{
    background: var(--color-primary-500);

}

.child2{
    background: #717DBA;
    font-weight: 600;
    color: var --color-text-primary ;

}
.child3{
    background: #F4A165;
    font-weight: 600;
    
}

.child4{
    background: #109098;
    font-weight: 600;

}

.child5{
    background: #609CE2;
    font-weight: 600;
}


#tt{
    color: var(--color-text-title);

}


#tp{
    color: var(--color-text-primary);

}

#tb{
    color: var(--color-text-body);

}

#td{
    color: var(--color-text-disabled);

}


/* BUTTON STYLES */


.btn-primary
{

display: inline-flex;
border-radius: 4px;
font-family: 'Inter', sans-serif;
font-weight: normal;
font-size: var(--font-size-m);
line-height: 20px;
margin-bottom: 24px;

}


.btn-secondary
{

background-color: white;
color: #7A8898;
display: inline-flex;
border: 1px solid #e1e4e8;
border-radius: 4px;
font-family: 'Inter', sans-serif;
font-weight: normal;
font-size: var(--font-size-m);
line-height: 20px;
margin-bottom: 24px;
padding: 10px 18px 10px 18px;

}

.btn-secondary :hover{
    color: var(--color-neutral-400);
}



.btn-delete

{
background-color: var(--color-red-100);
color:var(--color-red-400);
font-size: var(--font-size-m);
border-radius: 4px;
padding: 10px 12px 10px 8px;

}

.delete__icon{
    color: var(--color-red-100);




}



.button__text{
padding: 10px;
background: var(--color-primary-400);
color: white;
border-radius: 4px;


}



.button__text-1{
    padding: 10px;
    background: var(--color-primary-400);
    color: white;
    border-radius: 4px;
     }


.button__icon{

display: inline-flex;
align-items:center;
padding:10px 10px 10px 0px;
height: 100%;
}


.wrapper1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


input[type=text]:focus {
    outline: none;
    border: 2px solid #66AFFF;
  }

.label{
    color: #474d66;
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-m);
    font-weight: 400;
    min-height: 16px;

}

.fname {
    margin-top: 8px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--color-neutral-100);
    height: 32px;
    min-width: 216px;
    padding: 6px 10px;
    margin-bottom: 24px;
}

.lname {
    margin-top: 8px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--color-neutral-100);
    height: 32px;
    min-width: 216px;
    padding: 6px 10px;

}


.blue100
{
    width: 48px;
    height: 48px;
    background-color: var(--color-primary-400);
    border-radius: 4px;
    margin-bottom: 24px;

}





